<div class="page-header">
    <div>
        <h1 class="page-header">
            Caja
            <p class="lead">
                Seleccione productos o ingrse el monto
            </p>
        </h1>
    </div>
</div>


<h1 class="page-header">
    POS
    <p class="lead">
        Vista para hacer un cobro, únicamente cuando el negocio tiene cobro en caja, no aplica para restaurantes*.Se ingresa el monto con productos o keypad. Para cobrar se selecciona al cliente de la lista de usuarios cercanos.
    </p>
</h1>

Keypad para ingresar el monto
<br/>
Sección que muestre los productos (Foto, Nombre y Precio)
<br/>
Carrito que muestre el número de artículos y el total
<br/>
Al seleccionar un producto, se agrega al carrito.
<br/>
Mostrar lista de clientes cercanos al seleccionar "Cobrar" (Imagen y nombre de usuario)
<br/>
Mandar el cobro al usuario (Push Notification, Monto, Nombre, CLABE)
<br/>
Status del cobro (Completo/Incompleto)